/* .pass{
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
    z-index: 1;
  }
  .pass:hover{
    color:#121212;
  }
  
  .pass::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .pass:hover::before{
    content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  } */

  .font{
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
  
  }

  .Admin h2  {
    font-size: 70px ;
    font-weight: 700;
    text-align: center;
  }
  

   /* General Styles for the Form */
input {
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.AAAAA h2{
  text-align: center;
}

/* Focus Effect for Inputs */
input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


/* Image URL List */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
}

ul li button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #dc3545;
}


.skills-grid {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 50px;
  margin-top: 30px;
}

.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.skill-item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.skill-item h5 {
  margin-top: 10px;
  font-size: 1.1rem;
}
