.pass{
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 20px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    z-index: 1;
    border-radius: 15px;
  }
  .pass:hover{
    color:#121212;
    border-radius: 15px;
  }
  
  .pass::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  .pass:hover::before{
    content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 15px;
  }

  .proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx img {
  width: 100%;
}
.proj-imgbx::before {
  content: "";
  background: #4c7273;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
